body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
}

#login-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    color: #2c3e50;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
}

[id$="-duty-list"] {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.listed-duty {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px 50px 15px 15px;
    border-left: 5px solid #3498db;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    list-style: none;
}

.listed-duty strong {
    color: #2980b9;
    display: block;
    margin-bottom: 5px;
}

label {
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.duty-checkbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.duty-checkbox label {
    cursor: pointer;
    font-size: 0.9em;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    text-align: center;
    max-width: 100px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    font-family: inherit;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

#clear-duties {
    background-color: #ff4040;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    text-decoration: none;
}

#clear-duties:hover {
    background-color: #8b0000 ;
}

.remove-duty {
    background: #ff4040;
    color: white;
    padding: 1px 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.remove-duty-btn:hover {
    background-color: #8b0000;
}

.hidden {
    display: none !important;
}
