<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apprentice Duties</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/js/script.js" defer></script>
</head>
<body>
  <header>
    <h1>Apprentice Duties</h1>
  </header>
    <h2>Automate!</h2>
    <button id="add-duties">
      Add Duties
    </button>
    <form id="form" class="hidden" aria-label="Add Duty Form">
      <div class="checkbox-group">
        {% for duty in duties %}
          <input type="checkbox" id="{{ duty.replace(' ', '_') | lower }}" name="duties" value="{{ duty }}">
          <label for="{{ duty.replace(' ', '_') | lower }}">{{ duty }}</label>
        {% endfor %}
      </div>
    </form>
<!--        <ul>-->
<!--          <li>Duty 5</li>-->
<!--          <li>Duty 7</li>-->
<!--          <li>Duty 8</li>-->
<!--          <li>Duty 10</li>-->
<!--        </ul>-->
</body>
</html>