<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logger</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/logger.js" defer></script>
</head>
<body>
    <h1>Logs</h1>
    <div class="log-container">
        <table id="logs-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Path</th>
                    <th>Status Code</th>
                </tr>
            </thead>
            <tbody id="logs-table-body">

            </tbody>
        </table>
    </div>
</body>
</html>